@page "/Patrons/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Patron</h3>
<hr />
<br />

<FormComponent ButtonText="Create Patron" Patron="Patron" OnValidSubmit="@CreatePatron" />

@code {
    Patron Patron = new Patron();

    private async Task CreatePatron()
    {
        await _client.PostAsJsonAsync(Endpoints.PatronsEndpoint, Patron);
        _navManager.NavigateTo("/Patrons/");
    }
}
